
h1 {
  color: white;
  background-color: #375BDC;
  padding: 10px;
  text-align: center;
}

p {
  margin: 0 0 1em;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

b {
  font-weight: bold;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

.container {
  max-width: 800px; /* задаємо максимальну ширину контейнера */
  margin-left: auto; /* автоматичний відступ зліва */
  margin-right: auto; /* автоматичний відступ справа */
  padding-left: 20px; /* зсувуємо текст зліва */
  padding-right: 20px; /* зсувуємо текст справа */
}