{% extends "master.html" %}

{% block title %}
My University
{% endblock %}


{% block content %}
<div class="main">
    <h1>My University</h1>

    {% if phot %}
    <img src="{{ phot.2.onlyphoto.url }}" alt="Картинка" width="400" height="350">
    {% endif %}

    <p align=”justify”>Національний авіаційний університет — авіаційний заклад вищої освіти в Києві.
        В університеті навчається близько 25 тисяч студентів із 55 країн світу.
        Потужні науково-педагогічні школи дають можливість готувати не лише фахівців інженерного профілю,
        але й економістів, юристів, екологів, перекладачів, психологів, соціологів тощо.
        Навчальний процес забезпечує висококваліфікований науково-педагогічний колектив,
        у складі якого 15 академіків та членів-кореспондентів НАН України, 184 докторів наук,
        професорів і 677 кандидатів наук, доцентів.
        До навчального процесу залучаються провідні спеціалісти авіакомпаній і промислових підприємств.
        Серед викладачів — 80 лауреатів Державної премії та Заслужених діячів науки і техніки.</p>
    <p>Check out all our <a href="members/">students</a></p>
    <p>Check  <a href="mypage/">university info</a></p>

</div>
{% endblock %}